body{
    margin: 0px;
    font-family: 'Roboto';
  }

.container {
    display: flex;
    flex-direction: column;
    height: 95vh;
}


.IconContainer {
  display: flex;
  flex-direction: column;
  padding: 0px 12px;
  align-items: center;
  color: #C5C6C7;
}

.IconPadding {
  padding-bottom: 8px;
  font-size: 42px;
}

.CompetitionText { 
  font-size: 24px;
}

.CompetitionTitle { 
  font-size: 48px;
  padding-top: 40px;
}

.bgYellow { 
  background-color: #F8E9A1;
}

.bgRed { 
  background-color: #F76C6C;
}

.bgLightBlue { 
  background-color: #A8D0EF;
}

.bgDarkBlue {
  background-color: #374785;
}

.bgDarkestBlue { 
  background-color: #24305E
}


.grey1{
  color: #C5C6C7;
}
.grey2{
  color: #1F2833;
}
.white1{
  color: #ffffff;
}
.blue1{
  color: #66FCF1;
}
.blue2{
  color: #45A29E;
}
.bgNavy { 
  background-color:#1f2833
}

.hrSettings {
  width: 40%;
  margin-top: -24px;
  margin-bottom: 24px;
}