

html,body{
  height: 100%;
  width: 100%;
  margin: 0px auto;
}


.flex-container{
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  flex-direction: column;
  justify-content: space-evenly;
}

.paddingSideClass{padding: 0 75px;}

@media screen and (max-width: 992px) {
.paddingSideClass{padding: 0 1em;}
}

.paddingHeightClass{padding: 20px 0px;}

.anotherContainer{
  display: flex;
  flex-wrap: wrap;
  height: 50%;
  flex-direction: column;

}

.anotherContainer{
  display: flex;
  flex-wrap: wrap;
  height: 50%;
  flex-direction: column;
}
.anotherContainerButRows{
  display: flex;
  flex-wrap: wrap;
  height: 50%;
  flex-direction: row;
}

.iconWidth{width: 70%}

@media screen and (max-width: 992px) {
.iconWidth{width: 90%}
}


.flex-start{ justify-content: flex-start;}
.flex-end{justify-content: flex-end;}
.flex-center{justify-content: center; align-self:center;}
.flex-spacebetween-centered{justify-content: space-between;; align-self:center;}

.titleName{
  width: 100%;
  font-size: 4em;
}
.mediumTitleName{
  width: 100%;
  font-size: 2.2em;
}
.deviconSize{
  width: 4em;
  height: 4em;
  margin: 10px;
  }

.textUnderDevicon{
  text-align: center;
}


.para{
  font-size: 1.4em;
  flex-wrap: wrap;

}
.paraWidth{width: 60%;}
@media screen and (max-width: 992px) {
  .paraWidth{width: 80%;}
}

.hrClass{
  border-top: 2px solid #ffffff;
  width: 95%;
  margin-bottom: 1rem;
}
.fa-linkedin-in,.fa-github,.fa-envelope,.fa-file-pdf{
  color: #66FCF1;

}
