body{
    margin: 0px;
    font-family: 'Roboto';
  }

.container {
    display: flex;
    flex-direction: column;
    height: 95vh;
}

.smallTitle { 
  font-size: 24px;
  padding: 0px 12px
}
@media only screen and (min-width: 768px) {
  .smallTitle {
    font-size: 32px;
  }
}

.titleText { 
  font-size: 56px;
}
@media only screen and (min-width: 768px) {
  .titleText {
    font-size: 70px;
  }
}
@media only screen and (min-width: 1024px) {
  .titleText {
    font-size: 70px;
  }
}

.subText { 
  font-size: 24px;
  width: 100%;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .subText { 
    font-size: 24px;
    width: 70%;
  }
}
@media(min-width: 1024px) {
  .subText { 
    font-size: 28px;
    width: 75%;
  }
}

.titlePadding { 
  margin: 0 20px;
}
@media(min-width: 426px) {
  .titlePadding { 
    margin: 0 60px;
  }
}

.smallContainer { 
  display: flex;
  flex-direction: column;
  min-height: 85vh;
}

@media(max-width: 426px) {
  .smallContainer { 
    display: flex;
    flex-direction: column;
    min-height: 90vh;
  }
}

.xxsmallContainer { 
  display: flex;
  flex-direction: column;
  min-height: 65vh;
}

@media(max-width: 426px) {
  .xxsmallContainer { 
    display: flex;
    flex-direction: column;
    min-height: 90vh;
  }
}




.bigContainer { 
  display: flex;
  flex-direction: column;
  /* min-height: 140vh; */
}

@media(max-width: 426px) {
  .bigContainer { 
    display: flex;
    flex-direction: column;
    /* min-height: 380vh; */
  }
}


.CompetitionText { 
  font-size: 24px;
}
.CompetitionTitle { 
  font-size: 48px;
  padding-top: 40px;

}
@media(max-width: 767px) {
  .CompetitionText { 
    font-size: 20px;
    padding: 0 16px;
  }
  .CompetitionTitle { 
    font-size: 36px;
    padding-top: 40px;
    text-align: center;
  }
}




.IconContainer {
  display: flex;
  flex-direction: column;
  padding: 0px 12px;
  align-items: center;
  color: #d5d6d2;
}

.IconPadding {
  padding-bottom: 8px;
  font-size: 42px;
}



.bgYellow { 
  background-color: #F8E9A1;
}

.bgRed { 
  background-color: #F76C6C;
}

.bgLightBlue { 
  background-color: #A8D0EF;
}

.bgDarkBlue {
  background-color: #374785;
}

.bgDarkestBlue { 
  background-color: #24305E
}

.bgteal { 
  background-color: #2B616D;
}

.bgarctic {
  background-color: #B2DBD5;

}

.bgbrick{ 
  background-color: #FA8D62;
}

.bgwhite{
  background-color: #ffffff;
}


.back { 
  color: #2F2E33;
}
.gray {
  color: #D5D6D2;

}
.cobalt{ 
  color: #5171D3;
}

.bgback { 
  background-color: #2F2E33;
}
.bggray {
  background-color: #D5D6D2;

}
.bgcobalt{ 
  background-color: #3A5199;
;
}




.teal { 
  color: #2B616D;
}

.arctic {
  color: #B2DBD5;

}

.brick{ 
  color: #FA8D62;
}

.white{
  color: #ffffff;
}


.grey1{
  color: #C5C6C7;
}
.grey2{
  color: #1F2833;
}
.white1{
  color: #ffffff;
}
.blue1{
  color: #66FCF1;
}
.blue2{
  color: #45A29E;
}
.bgNavy1 { 
  background-color:#1f2833
}

.hrSettings {
  width: 40%;
  margin-top: -24px;
  margin-bottom: 24px;
}

.responsive {
  width: 100%;
  max-width: 300px;
  height: auto;
}

.bigresponsive { 
  width: 100%;
  max-width: 450px;
  height: auto;
}


.projectsContainer { 
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex; 
  margin: 0 20px; 
  flex-direction: row; 
  align-items: center;

}
@media(max-width: 632px) {
  .projectsContainer { 
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex; 
    margin: 0 24px; 
    flex-direction: column; 
    align-items: center;
  
  }
}

.contactText {
  margin: 0 40px;
  text-align: center;
  padding-bottom: 30px;
}
@media(max-width: 768px) {
  .contactText {
    margin: 0;
    text-align: center;
    padding-bottom: 30px;

  }
}


.projText{ 
  font-size: 18px;
  padding:0 24px;
}
